/* GLOBAL CSS */
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.section-title {
	letter-spacing: 3px;
	font-size: 30px;
	font-family: 'CinzelRegular_0',verdana, arial, sans-serif;
	color: #6b6b6e;
	line-height: 30px;
	span {
		color: #c92f51;
	}
}
.section-citation {
	background: url('../images/guillemet-gauche.png') no-repeat 2.1% 21%,
				url('../images/guillemet-droite.png') no-repeat 98.5% 50%;
	padding: 50px 60px 100px 60px;
	font-size: 30px;
	font-family: 'Demo_ConeriaScript',verdana, arial, sans-serif;
	color: #c92f51;
	display: inline-block;
	text-align: center;
}


/* SLIDE CSS */
.swiper-slide{
	height: 640px;
}
.image1 {
	background:url('../images/plage2.jpg') no-repeat 50% 50%;
	background-size: cover;
}
.slider {
	text-align: center;
}
.accroche {
	position: relative;
	z-index: 100;
	margin: -74px 0 0 0;
	display: inline-block;
	background-color: #ffffff;
	color: #c92f51;
	font-size: 36px;
	padding: 33px 44px 23px 44px;
	line-height: 4rem;
	border: 2px solid #eaeffe;
	font-family: "Demo_ConeriaScript", verdana, arial, sans-serif;
}
.pictos {
	padding: 96px 20px 79px 20px;
	ul {
		margin: 0 auto;
		width: 100%;
		text-align: center;
		display: block;
		li {
			padding: 0 73px;
			display: inline-block;
			text-align: center;
			vertical-align: top;
			box-sizing: border-box;
			a {
				img {
					margin-bottom: 5px;
				}
				width: 200px;
				line-height: 1.6rem;
				text-transform: uppercase;
				color: #c92f51;
				font-size: 18px;
				display: inline-block;
				font-family: 'ProximaNovaLight',verdana, arial, sans-serif;
			}
		}
	}
}


/* AGENCE CSS */
.agence {
	text-align: center;
	padding: 46px 0 0 0;
	background:url('../images/motif.png') repeat 0 0;
}
.agence-img {
	width: 100%;
	background: url('../images/christina.jpg') no-repeat 50% 50%;
	background-size: cover;
	padding: 276px 20px;
	height: 1000px; 
	box-sizing: border-box;
}
.agence-container--text {
	width: 50%;
	border: 2px solid #eaeffe;
	height: 444px;
	margin-left: 50%;
	background: url('../images/motif-anneaux.png') no-repeat 50% 89%,
				#ffffff;
				
	p {
		padding: 100px 40px 50px 40px;
		color: #6b6b6e;
		font-size: 18px;
		line-height: 36px;
		text-align: justify;
		font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
	}
	.btnLire {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		background: url('../images/evenement.png') no-repeat 0 0;
		a {
			font-size: 12px;
			text-decoration: none;
			text-transform: uppercase;
			padding: 15px 30px 14px 40px; 
			display: block;
			color: #ffffff;
			background: url('../images/fleche.png') no-repeat 14% 50%;
			font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
			transition: 0.2s;
		}
		a:hover {
			background: url('../images/fleche.png') no-repeat 16% 50%;
			transition: 0.2s;
		}
	}
}


/* QUOTA CSS */
.quota {
	width: 100%;
	ul {
		width: 100%;
		padding: 100px 0;
	}
	li {
		position: relative;
		display: inline-block;
		width: 33%;
		box-sizing: border-box;
		text-align: center;
		.quota-nombre {
			color: #c92f51;
			opacity: 0.2;
			font-size: 130px;
			font-family: 'K22Didoni', verdana, arial, sans-serif;
		}
		.quota-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 200;
			width: 211px;
			font-size: 18px;
			color: #6b6b6e;
			font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
			text-transform: uppercase;
		}
	}
}


/* PRESTATIONS CSS */
.prestations {
	padding: 46px 0 100px 0;
	margin: 0 0 150px 0;
	background:url('../images/motif.png') repeat 0 0;
}
.prestation-titles {
	text-align: center;
}
.prestations .section-citation {
	background: url('../images/guillemet-gauche.png') no-repeat 17% 16%,
				url('../images/guillemet-droite.png') no-repeat 98.3% 58%;
}
.saut-ligne {
	text-align: center;
	display: block;
	line-height: 46px;
}

.formules {
	width: 100%;
	.formules-container {
		display: inline-block;
		box-sizing: border-box;
		width: 384px;
		vertical-align: top;
	}

	.liste {
		position: relative;
		box-shadow: 5px 7px 15px #d5d5d5;
		background-color: #ffffff;
		width: 100%;
		padding: 15px 15px 195px 15px;
		box-sizing: border-box;
		img {
			width: 100%;
		}
	}
	.ceremonie {
		padding: 0;
	}
	.reception {
		padding: 100px 0 0 0;
		margin: 0 2%;
		.formules-title {
			width: 130px;
		}
	}
	.conciergerie {
		padding: 50px 0 0 0;
	}

	.formules-container--motif-rose {
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: none;
		z-index: 300;
		width: 292px;
		height: 480px;
		background: url('../images/motif-rose.png') repeat 0 0;
		.formules-title {
			font-size: 18px;
			color: #eaeffe;
			line-height: 24px;
			text-transform: uppercase;
			padding: 95px 0 31px 56px;
			display: inline-block;
			letter-spacing: 2px;
			font-family: 'ProximaNovaSemibold',verdana, arial, sans-serif;
		}
		.liste-domaines {
			width: 100%;
			li {
				padding: 10px 20px 10px 85px;
				display: block;
				background: url('../images/anneaux.png') no-repeat 19% 50%;
				p {
					font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
					color: #ffffff;
					font-size: 18px;
					line-height: 20px;
				}
			}
		}
		.btnDecouvrir {
			position: absolute;
			left: 70px;
			bottom: 34px;
			display: block;
			width: 150px;
			margin: 0 auto;
			text-align: center;
			a {
				font-size: 12px;
				text-decoration: none;
				text-transform: uppercase;
				padding: 15px 30px 14px 30px; 
				display: block;
				color: #ffffff;
				background: url('../images/fleche.png') no-repeat 11% 50%;
				font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
				transition: 0.2s;
			}
			a:hover {
				background: url('../images/fleche.png') no-repeat 15% 50%;
				transition: 0.2s;
			}
		}
	}
}


/* CREATIONS CSS */
.creation {
	padding: 46px 0 100px 0;
	margin: 0 0 150px 0;
	background:url('../images/motif.png') repeat 0 0;
}
.creation-titles {
	text-align: center;
}
.creation .section-citation {
	background: url('../images/guillemet-gauche.png') no-repeat 2.4% 16%,
				url('../images/guillemet-droite.png') no-repeat 87% 57%;
}


/* AVIS CSS */
.avis {
	padding: 46px 0 100px 0;
	position: relative;
}
.avis-titles {
	text-align: center;
	padding: 0 0 77px 0;
}

.background-image-fleur {
	background: url('../images/petals.jpg') no-repeat 0 0;
	width: 100%;
	height: 535px;
}
.avis-container {
	margin: -250px auto 0 auto;
	max-width: 902px;
	background: url('../images/trait-avis.png') no-repeat 50% 17%,
				url('../images/trait-avis.png') no-repeat 50% 83%,
				url('../images/guillemet-avis-g.png') no-repeat 9% 14%,
				url('../images/guillemet-avis-d.png') no-repeat 91% 86%,
				#ffffff;
	
	border: 3px solid #d8e8fd;
	width: 100%;
	padding: 93px 0 0 0;
	box-sizing: border-box;
	text-align: center;
	img {
		margin: 0 auto;
		width: 65px;
		height: 65px;
		border-radius: 50%;
	}
}
.avis-lieu {
	padding: 10px 10px 5px 10px;
	font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
	font-size: 12px;
	color: #c92f51;
	text-transform: uppercase;
	span {
		text-transform: lowercase;
		color: #6b6b6e;
	}
}
.avis-text {
	text-align: center;
	padding: 20px 90px;
	color: #6b6b6e;
	font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
	line-height: 36px;
	font-size: 18px;
}
.remerciment {
	padding: 0px 0 44px 0;
	font-size: 12px;
	color: #6b6b6e;
	font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
	span {
		font-size: 24px;
		color: #c92f51;
		font-family: 'Insolente',verdana, arial, sans-serif;
	}
}
.owl-carousel {
 	padding-top: 10px;
}
.owl-dots {
	width: 100%;
	padding: 30px 10px;
	text-align: center;
	box-sizing: border-box;
	.active {
		background-color: #d8e8fd;
		border: 1px solid #d8e8fd;
	}
}
.owl-dot {
	background-color: #ffffff;
	border-radius: 50%;
	border: 1px solid #d8e8fd;
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0 6px;
}

/* FLUX CSS */
.flux {
	text-align: center;
	.suivre {
		margin: 0 auto;
		display: block;
		width: 200px;
		color: #6b6b6e;
		font-size: 18px;
		padding: 10px 0 0 0;
		font-family: 'CinzelRegular_0',verdana, arial, sans-serif;
		span {
			font-size: 30px;
			color: #c92f51;
			font-weight: 550;
		}
	}
}


/* SLIDER HOVER CSS */
.slider-hover {
	width: 100%;
}
.landing-wrapper {
	width: 1920px;
	margin:20px auto;
	padding:0;
	position: relative;
	overflow:hidden;
	cursor:pointer;
}


.landing-inner-content {
	width: 3240px;
	height: 400px;
	position: relative;
}

.box {
	background: url('../images/plage.jpg') no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	width: 910px;
	height: 400px;
	margin: 0 50px 0 50px;
	float: left;
	overflow:hidden;
}


.box:first-of-type {
	margin-left:20px;
}

.box:last-of-type {
  	margin-right:20px;
}

.box-content {
	text-align: center;
	background: #000;
	/*margin-left: auto;
	margin-right: auto;*/
	position: absolute;
	top:0;
	left:0;
	z-index: 999;
}

