.contact {
	width: 100%;
	padding: 0 50px 50px 50px;
	box-sizing: border-box;
	background: url('../images/motif.png') repeat 0 0;
}
.contact-container  {
	padding: 131px;
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
	ul {
		width: 100%;
		li div{
			font-size: 24px;
			color: #c92f51;
			font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
			padding: 16px 30px;
			background-color: white;
			border: 2px solid #d8e8fd;
			h2 {
				padding: 0 0 10px 0;
			}
		}
		.agence-paris {
			position: relative;
			background-image: url('../images/paris.png');
			background-size : cover;
			height: 400px;
			text-align: center;
			margin-right: 2%;
			display: inline-block;
			width: 48%;
			.agence-container--paris {
				left: 50%;
				top: 94%;
				position: absolute;
				transform: translateX(-50%) translateY(-50%);

				h2{
					font-size: 14.53px;
					font-family: 'ProximaNovaLight',verdana, arial, sans-serif;
				}
				p{
					font-size: 14.53px;
					font-family: 'ProximaNovaLight',verdana, arial, sans-serif;
				}
			}
		}
		.agence-guadeloupe {
			position: relative;
			background-image: url('../images/guadeloupe.png') ;
			background-size: cover;
			text-align: center;
			margin-left: 1%;
			display: inline-block;
			width: 48%;
			height: 400px;
			.agence-container--guadeloupe {
				left: 50%;
				top: 94%;
				position: absolute;
				transform: translateX(-50%) translateY(-50%);

				h2{
					font-size: 14.53px;
					font-family: 'ProximaNovaLight',verdana, arial, sans-serif;
				}
				p{
					font-size: 14.53px;
					font-family: 'ProximaNovaLight',verdana, arial, sans-serif;
				}
			}
		}
	}
}
