.container-dashboard {
	width: 100%;
	ul {
		width: 100;
		li {
			display: block;
			a {
				color: #ffffff;
				margin: 10px 20px;
				padding: 12px 20px;
				background-color: #337ab7;
				border-radius: 3px;
				color: #ffffff;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				transition: 0.3s;
			}
			a:hover {
				background-color: #0b5493;
				transition: 0.3s;
			}

		}
	}
}