.section-formulaire-command {
	padding: 50px 0;
	width: 100%;
}
.section-formulaire-command .mariageChamps{
	border: 1px solid #bebebe;
	font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
}
.section-formulaire-command .mariageCreationFormulaire {
	padding: 50px 25px 30px 25px;
}
.selecteur-formules {
	width: 100%;
	padding: 0 25px ;
}
.formule-select-Champs {
	width: 100%;
	padding: 14px 30px;
	box-sizing: border-box;
	border: 1px solid #bebebe;
	margin: 0 0 50px 0;
}

.contact-formulaire-textarea {
	width: 100%;
	border: 1px solid #bebebe;
	padding: 14px 30px;
	height: 150px;
	margin: 0 0 80px 0;
}

.contact-container-textarea {
	padding: 0 25px;
	font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
}
