.container-galerie {
	background:url('../images/motif.png') repeat 0 0;
	width: 100%;
	position: relative;
	padding: 0 50px 50px 50px;
	box-sizing: border-box;
	ul {
		width: 100%;
		padding: 50px 75px;
		background-color: #ffffff;
		box-sizing: border-box;
		li {
			box-sizing: border-box;
			padding: 0px;
			display: inline-block;
			overflow: hidden;
			vertical-align: top;
			font-size: 0;
			padding: 25px 25px 140px 25px;
			width: 49.5%;
			height: 700px;
			position: relative;

			div {
				height: 100%;
			}
			p {
				text-align: center;
				width: 50%;
				bottom: 106px;
				left: 25%;
				margin: 50px 0 0 0;
				box-sizing: border-box;
				position: absolute;
				display: block;
				font-size: 24px;
				color: #c92f51;
				font-family: 'ProximaNovaRegular',verdana, arial, sans-serif;
				padding: 34px 30px;
				background-color: #ffffff;
				border: 3px solid #dce7fc;
				z-index: 9999;				
			}
			.container-category {
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}


