
.section-maries {
	width: 100%;
	background: url('../images/fleurs.png') no-repeat 0 0;
	background-size: cover;
}
.container-contentMaries {
	width: 100%;
	text-align: center; 
	.compte-a-rebours {
		padding: 100px 0 30px 0;
			
	}
}